* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.main {
    color: white;
    height: 85vh;
    display: flex;
    font-size: 1.3vw;
}

.main .side {
    width: 15vw;
    min-width: 150px;
    background-color: #121212;
    border-right: 2px solid #9B9B9B;
    font-weight: bold;
}

.main .side .head {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.main .side .head p {
    font-size: 1.2vw;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
    color: #121212;
}

.main .side .head p:hover {
    cursor: pointer;
}

.main .side .playlist-list {
    height: 85%;
    overflow: scroll;
}

.main .side .playlist-list p {
    margin: 1.5vw;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0;
}

.main .content {
    width: 90vw;
    background-color: #121212;
}

.main .content .head {
    height: 20%;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    box-sizing: border-box;
}

.pl-name p {
    font-weight: bold;
    font-size: 2.5vw;
}

.main .content .head .add-song p {
    font-size: 1.2vw;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
    color: #121212;
}

.main .content .head .add-song:hover {
    cursor: pointer;
}

.main .content .song-list {
    height: 80%;
    padding: 0 5vw;
    box-sizing: border-box;
}

.main .content .song-list .list-head{
    border-bottom: 2px solid #9B9B9B;
    font-weight: bold;
    height: 10%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 1vw;
}

.main .content .song-list .list {
    height: 90%;
    overflow: scroll;
}

.main .content .song-list .list .item{
    margin-bottom: 2vw;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    border-bottom: 0.5px dotted white;
}

.main .content .song-list .list .item:hover {
    cursor: pointer;
}

.player {
    font-size: 1.3vw;
    color: white;
    height: 15vh;
    background-color: #101010;
    border-top: 2px solid #9B9B9B;
    display: flex;
}

.player .song-name {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
}

.player .audio {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.player .audio #music {
    width: 70%;
}

.audio audio {
    width: 100%;
    height: 4vw;
}

.player .audio button {
    cursor: pointer;
    border: none;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
}